{% extends 'layout/layout.html' %}
{% block title %}{{ team.name }} | Deatail{% endblock title %}
{% block content %}
    <h1>{{ team.name }}</h1>
    <h2>Members</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Team</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.first_name }} {{ player.last_name }}</td>
                    <td>{{ player.age }}</td>
                    <td>{{ player.team }}</td>
                    <td>{{ player.position }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}